<p *ngIf="showFileNotFoundMessage">Specified file for download not found</p>

<!-- Emergency Info -->
<div *ngIf="showEmergencyInfo">
    <div><b>Name:</b> Blake Williams</div>
    <div><b>Height:</b> 5'8" (173cm)</div>
    <div><b>Age:</b> {{calculateAge()}}</div>
    <div><b>Date of Birth:</b> July 26, 1994</div>
    <div><b>Eyes:</b> Green, <b>Hair:</b> Red</div>
    <div>No allergies to medicine</div>
    <div>
      <b>Phone Number:</b>
      <a href="tel:+1760-560-6898">(+1) 760-560-6898</a>
    </div>
    <div>
      <b>Emergency Number (Father):</b>
      <a href="tel:+1760-560-6898">(+1) 760-560-6898</a>
    </div>
    <div>
      <b>Emergency Number (Mother):</b>
      <a href="tel:+1760-560-6898">(+1) 760-560-6898</a>
    </div>
  </div>
  