.red-yellow-gradient {
    background-image: linear-gradient(to right, #f81d00 0%, #f9d423 100%);
}

mat-tab-group {
    margin-top: 20px;
}

::ng-deep .mat-tab-group .mat-tab-header {
    border-bottom: none;
}

.home-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 100px auto;

    img {
        width: 100px;
        border-radius: 50px;
    }

    .sub-title {
        margin: 50px 20px 12px;
        text-align: center;
    }
}

.language-skill-container {
    margin: 0 20%
}

.language-skill {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .skill-label-container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    }
}

.progress-bar {
    width: 100%;
    background-color: gray;
}

.progress-bar-fill {
    display: block;
    height: 5px;    
}