.red-yellow-gradient {
    background-image: linear-gradient(to right, #f81d00 0%, #f9d423 100%);
}

.home-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 100px auto;

    img {
        border-radius: 50px;
        height: 100px;
        width: 100px;
    }

    .sub-title {
        margin: 50px 20px 12px;
        text-align: center;
    }
}

#actionContainer {
	margin: 0 auto;
	text-align: center;
	width: fit-content;
	
	span {
		white-space: nowrap;
	}
	
	#actions {
		overflow: hidden;
		width: fit-content;
			
		> div {
			height: fit-content;
			transition: transform 0.6s ease, opacity 0.6s ease;
		}
	}
}
