mat-card {
  margin: 20px 5%;
}

.disclaimer {
  display: block;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

h1 {
  margin-top: 40px;
}

pre {  
  width: fit-content;
  background: #303030;
  padding-right: 16px;
  border-radius: 8px;
}
