:host {
  display: block;
  margin: auto;
  padding-bottom: 1px;
  width: fit-content;
}

mat-card {
  margin: 20px 5%;
  max-width: 1400px;
}

mat-card-title {
  margin-top: 20px !important;
}

h1 {
  margin-top: 0;
}

/* Without this, the images will be however large they were downloaded to be and stretch the mat-cards to the right. */
img {
  width: 100%;
}

.divider {
  border-top: 1px solid white;
  margin-bottom: 1em;
}

.youtube-player {
  aspect-ratio: 16 / 9;
  display: block;
  margin: 1em 0;
  width: 100%;
}
