mat-card {
  cursor: pointer;
  margin: 20px 5%;
  max-width: 800px;
}

.page-container {
  margin: 0 auto;
  width: fit-content;
}

:host {
  display: block;
  padding-bottom: 20px;
}

/* Removes the underline from the material cards being wrapped in <a> tags. */
.no-underline {
  text-decoration: none;
}

/* Without this, the images will be however large they were downloaded to be and stretch the mat-cards to the right. */
img {
  min-height: 130px;
  width: 100%;
}
