mat-card {
  cursor: pointer;
  margin: 20px 5%;
  max-width: 800px;
}

.page-container {
  margin: 0 auto;
  width: fit-content;
}

:host {
  display: block;
  padding-bottom: 20px;
}

/* Removes the underline from the material cards being wrapped in <a> tags. */
.no-underline {
  text-decoration: none;
}

img {
  min-height: 130px;
  width: 100%;
}

/* mat-card-header-title comes with a 16px padding for some unknown reason. */
mat-card-header {
  margin-left: -16px;
}
