img {
  border-radius: 3px;
  margin: 1em 0;
  max-width: 100%;
}

.divider {
  border-top: 1px solid white;
  margin-bottom: 1em;
}

mat-card {
  margin: 20px 10%;
}

.youtube-player {
  aspect-ratio: 16 / 9;
  display: block;
  margin: 1em 0;
  width: 100%;
}
