.divider {
  border-top: 1px solid white;
  margin-bottom: 1em;
}

mat-card {
  margin: 20px 5%;
  max-width: 800px;
}

:host {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

p {
  margin: 0;
}

mat-form-field {
  display: block;
  margin: 1em 0;
}

.short-field {
  width: 66%;
}

textarea {
  min-height: 160px;
}

// This rule prevents the background of text inputs turn blue when auto-filling the inputs.
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #424242 inset !important;
  -webkit-text-fill-color: white;
}
