:host {
  display: block;
  margin: auto;
  padding-bottom: 1px;
  width: fit-content;
}

mat-card {
  margin: 20px 5%;
  max-width: 1400px;
}

img {
  border-radius: 3px;
  margin: 1em 0;
  width: 100%;
}

.divider {
  border-top: 1px solid white;
  margin: 0 -16px 1em -16px;
}
