:host {
  display: block;
  margin: auto;
  width: fit-content;
}

mat-card {
  margin: 20px 5%;
  max-width: 1400px;
}

img {
  border-radius: 3px;
  margin: 1em 0;
  width: 100%;
  min-height: 130px;
}

h1 {
  margin-top: 0;
}

.divider {
  border-top: 1px solid white;
  margin: 0 -16px 1em -16px;
}

.youtube-player {
  aspect-ratio: 16 / 9;
  margin-bottom: 1em;
  width: 100%;
}
