.page-container {
  margin: 20px 5%;
}

mat-card {
  margin-bottom: 20px;
}

img {
  width: 100%;
}

h2 {
  margin: 0;
}

li {
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
