.page-container {
  margin: auto;
  width: fit-content;
}

mat-card {
  margin: 20px 5%;
  max-width: 1000px;
}

img {
  margin-bottom: 16px;
  width: 100%;
}

h1 {
  margin-top: 0;
}

h2 {
  margin: 0;
}

li {
  margin-bottom: 20px;
}

iframe {
  aspect-ratio: 16/9;
  margin-top: 16px;
  width: 100%;
}
