mat-card {
  cursor: pointer;
  margin: 20px 5%;
  max-width: 800px;
}

.page-container {
  margin: 0 auto;
  width: fit-content;
}

:host {
  display: block;
  padding-bottom: 20px;
}

/* Removes the underline from the material cards being wrapped in <a> tags. */
.no-underline {
  text-decoration: none;
}

/* mat-card-header-title comes with a 16px padding on top/left/right, this offsets that and makes padding better with
a single padding rule in global styles.scss. */
mat-card-header {
  margin-left: -16px;
  margin-top: -16px;
}

