mat-card {
  margin: 20px 5%;
  cursor: pointer;

  mat-card-header {    
    justify-content: space-between;
  }

  > p {
    margin-left: 16px;
  }
}

:host {
  display: block;
  padding-bottom: 20px;
}

/* Removes the underline from the material cards being wrapped in <a> tags. */
.no-underline {
  text-decoration: none;
}