@use '@angular/material' as mat;

@include mat.core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$personalsite-primary: mat.m2-define-palette(mat.$m2-grey-palette, 500);
$personalsite-accent: mat.m2-define-palette(mat.$m2-grey-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$personalsite-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$personalsite-theme: mat.m2-define-dark-theme((
  color: (
    primary: $personalsite-primary,
    accent: $personalsite-accent,
    warn: $personalsite-warn,
  )
));

// Include theme styles for core and each component used in the app. This allows us to prune the global Material
// stylesheet to only include styles relevant for components we actually use. Add more includes here when using
// new components.
@include mat.core-theme($personalsite-theme);
@include mat.card-theme($personalsite-theme);
@include mat.button-theme($personalsite-theme);
@include mat.divider-theme($personalsite-theme);
@include mat.form-field-theme($personalsite-theme);
@include mat.input-theme($personalsite-theme);
@include mat.progress-spinner-theme($personalsite-theme);
@include mat.tabs-theme($personalsite-theme);

/* Custom global styles for the whole app from here and below. */

html, body { height: 100%; }
body {
  background-color: #303030;
  color: lightgrey;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Any link that is visited, 'a' tag or otherwise, not within the header nav.
*:visited:not(nav *) {
  color: white;
}

*:link:not(nav *) {
  color: white;
  font: bold;
}

h1, h2, h3, b {
  color: white;
}

// For changing the text highlighting color when selecting text.
::selection {
  background: #151515; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #151515; /* Gecko Browsers */
}
