<div class="timeline-block" *ngFor="let timelineEvent of timelineEvents; index as i">
    <div class="timeline-bar-container">
            <span>{{calculateTimelineDate(timelineEvent.date)}}</span>
        <div class="timeline-bar">
            <div class="timeline-node"></div>
            <div *ngIf="i != timelineEvents.length - 1" class="timeline-line"></div>
        </div>
    </div>
    <div class="timeline-content">
        <h1>{{ timelineEvent.title }}</h1>
        <span [innerHtml]="timelineEvent.content"></span>
    </div>
</div>

