<div class="timeline-block" *ngFor="let timelineEvent of timelineEvents; index as i">
    <div class="timeline-bar-container">
            <span>{{calculateTimelineDate(timelineEvent.date)}}</span>
        <div class="timeline-bar">
            <div class="timeline-node"></div>
            <div *ngIf="i != timelineEvents.length - 1" class="timeline-line"></div>
        </div>
    </div>
    <div class="timeline-content">
        <span [innerHtml]="timelineEvent.content"></span>
    </div>
</div>

<!-- <table>
    <tr *ngFor="let timelineEvent of timelineEvents; index as i">
        <td class="timeline-bar-container">
            <div class="flex">
                <span>{{calculateTimelineDate(timelineEvent.date)}}</span>
                <div>
                    <div class="timeline-node"></div>
                    <div *ngIf="i != timelineEvents.length - 1" class="timeline-line"></div>
                </div>
            </div>
        </td>
        <td>
            <span [innerHtml]="timelineEvent.content"></span>
        </td>
    </tr>
</table> -->

