.timeline-block {
    display: flex;
}

.timeline-bar-container {
    display: flex;

    span {
        min-width: 80px;
        text-align: right;
        padding: 6px 10px 0 0;
    }
}

.timeline-bar {
    display: inline-block;
}

.timeline-node {
    border: 3px solid grey;
}

.timeline-line {
    border: 2px solid grey;
    height: calc(100% - 33px);
    margin: auto;
    min-height: 30px;
    width: 0;
}

.timeline-node {
    border-radius: 18px;
    border-color: gray;
    height: 25px;
    width: 25px;
}

.timeline-content {
    padding: 0 20px 20px;
    flex-grow: 1;

    span {
        color: lightgrey;
    }
}

h1 {
  margin-top: 0px;
}
